APP_NAME=Guardian360Admin
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=guardian360
DB_USERNAME=guardian
DB_PASSWORD=change_me_local

REDIS_CLIENT=phpredis
REDIS_HOST=localhost
REDIS_PASSWORD=change_me_redis
REDIS_PORT=6379
